.mystudent{
    font-size: 20px;
    color: red;
    text-align: left;
    margin-left: 200px;
    border: 2px solid blue;
    width: 50%;
    padding: 15px;
}

.mybutton{
    font-size: 25px;
    color: white;
    background-color: red;
}